h1{
	text-align: center;

}

body{
	background-image: url("background.jpg");
	background-color: #F5F5F5;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Estilo a los input tipo text*/
input[type=text]{
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	resize: vertical;
	background-color: #F0E68C;
}
/* Estilo a los input tipo number*/
input[type=number]{
	width: 60%;
	padding: 6px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	resize: vertical;
	background-color: #F0E68C;
}


/*Estilo a todos los label */
label {
	padding: 12px 12px 12px 0;
	display: inline-block;
}

/* Estilo a los input tipo submit */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  float: left;
  
}

/*Estilo al contenedor */
.container {
	border-radius: 5px;
	background-color: #3b83bd;
	padding: 20px;
	border-bottom-color:#191970; 
    border-bottom-style:solid; 
    border-bottom-width:3px; 
    border-top-color:#191970; 
    border-top-style:solid; 
}

.labels {
	margin-top: 20px;
}

.inputs {
	width: 80%;
	margin-top: 6px;
  
}
.row:after {
  content: "";
  display: table;
  clear: both;
  
}
/* responsive */
@media screen and (max-width: 1500px) {
  .labels, .inputs, input[type=submit] {
	width: 100%;
	margin-top: 20px;
  }
}
